<div class="row">

  <div class="card mx-auto mt-5 pt-5" style="width: 20rem;">
    <img class="card-img-top" src="assets/Images/doctor_image.png" alt="Card image cap">
    <div class="card-body">
      <a class="nav-link mx-auto text-center" routerLink="/add-doctor">Add a Doctor</a>
    </div>
  </div>

  <div class="card mx-auto mt-5 pt-5" style="width: 20rem;">
    <img class="card-img-top" src="assets/Images/patient.png" alt="Card image cap">
    <div class="card-body">
      <a class="nav-link mx-auto text-center" routerLink="/add-patient">Add a Patient</a>
    </div>
  </div>

</div>
